In [11]:
a = (" hellow world")
print(a)

 hellow world

# typecasting

In [27]:
x = "23"
print(x)

23

In [31]:
print(type(x))

<class 'str'>

In [33]:
#print(type(int(x)))

<class 'int'>

In [35]:
print(type(float(x)))

<class 'float'>

# list

In [42]:
salaries = ["23k", 23, 456, "34k", 12, "89k"]
print(salaries)

['23k', 23, 456, '34k', 12, '89k']

# index

In [60]:
salaries [3]

'34k'

# silicing

In [62]:
salaries [1:-1]

[23, 456, '34k', 12]

In [46]:
salaries [3, 5]

TypeError: list indices must be integers or slices, not tuple

In [17]:
print(type(int(a)))

ValueError: invalid literal for int() with base 10: ' hellow world'

In [19]:
x = "23"
print(x)

23

In [21]:
print(t(x))

<class 'str'>

In [23]:
print(int(type(x)))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'type'